.Nav-Bar {
  color: black;
  background-color: #d3d3d3;
  display: inline; }
  .Nav-Bar li {
    color: black;
    display: inline;
    margin-right: 30px; }
  .Nav-Bar .Nav {
    height: 30px;
    margin-bottom: 20px; }

.clocky {
  position: absolute;
  right: 0px; }

@media only screen and (max-width: 600px) {
  .form-bar {
    width: 50%;
    font-size: 70%; }
  #button {
    width: 30%; }
  .Nav-Bar li {
    margin-right: 20px; } }
