html {
  margin: 0px;
  height: 100%;
  width: 100%;
  min-width: 1000px;
  min-height: 100px; }

body {
  color: lightblue;
  background-color: blue;
  font-family: Lucida Console;
  border: solid black 50px;
  margin: 0px;
  min-height: 100%;
  width: 100%; }

a {
  text-decoration: none;
  color: black; }

a:hover {
  text-decoration: none;
  color: black; }

.Nav-Bar {
  text-decoration: none;
  color: black;
  background-color: #d3d3d3;
  display: inline; }
  .Nav-Bar ul {
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3; }
  .Nav-Bar li {
    color: black;
    display: inline;
    margin-right: 30px; }

.boot-up-info {
  margin-top: 30px; }
  .boot-up-info p {
    margin-bottom: -4px; }

.home-head p {
  margin-bottom: -5px; }

.about-buttons {
  border: solid thin lightblue;
  height: 100%;
  width: 100%; }
  .about-buttons button {
    margin-right: 30px;
    margin-bottom: 20px; }

.Contact-Page {
  border: solid thin lightblue;
  color: lightblue; }
  .Contact-Page a {
    color: lightblue; }

.card {
  display: block;
  background: #f0f0f0;
  width: 15%;
  text-align: center;
  border-radius: 5px;
  color: black;
  box-shadow: 10px 10px 5px black;
  margin-bottom: 1.1%; }
