html {
  margin: 0px;
  height: 100%;
  width: 100%;
  border: 30px solid darkgray;
  border-style: inset; }

body {
  color: white;
  background-color: blue;
  font-family: Lucida Console;
  border: solid black 50px;
  margin: 0px;
  min-height: 100%;
  width: 100%; }

.Nav-Bar {
  text-decoration: none;
  color: black;
  background-color: lightgray;
  display: inline; }

.boot-up-info {
  margin-top: 200px; }
  .boot-up-info p {
    margin-bottom: -4px; }

.home-head p {
  margin-bottom: -5px; }

.card-columns {
  margin: 0px;
  margin-top: 40px;
  height: 100%;
  width: 100%;
  background-color: blue; }
  .card-columns div {
    box-shadow: 10px 10px 5px black;
    margin-top: 30px;
    color: black;
    font-size: 20px;
    text-align: center; }

.Nav-Bar ul {
  border: 1px solid #e7e7e7;
  background-color: #f3f3f3; }

.Nav-Bar li {
  color: black;
  display: inline;
  margin-right: 30px; }

.about-educated {
  max-width: 500px; }
  .about-educated h1 {
    text-decoration: underline; }

about-img-educated-2 {
  display: inline; }
