html {
  margin: 0px;
  height: 100%;
  width: 100%;
  min-width: 1000px;
  min-height: 100px; }

body {
  color: lightgray;
  background-color: #0000a8;
  border: solid black 50px;
  margin: 0px;
  min-height: 100%;
  width: 100%; }
  body .container {
    text-overflow: auto; }

a {
  text-decoration: none;
  color: black; }

a:hover {
  text-decoration: none;
  color: black; }

.Nav-Bar {
  text-decoration: none;
  color: black;
  background-color: #d3d3d3;
  display: inline; }
  .Nav-Bar ul {
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3; }
  .Nav-Bar li {
    color: black;
    display: inline;
    margin-right: 30px; }
  .Nav-Bar .Nav {
    height: 30px;
    margin-bottom: 20px; }

.booting {
  background-color: black;
  border-color: black;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 25px;
  border: 15px solid black;
  font-family: lucida console;
  font-size: small; }

.boot-up-info {
  margin-top: 30px; }
  .boot-up-info p {
    margin-bottom: -4px; }

.home-head p {
  margin-bottom: -5px; }

#home-img {
  float: right;
  margin-top: -7%; }

.GOS {
  float: right;
  width: 70%;
  margin-bottom: 3%;
  color: lightblue; }

.cardEdit {
  background: #f0f0f0;
  width: 15%;
  text-align: center;
  color: black;
  box-shadow: 10px 10px 5px black;
  margin-bottom: 2%;
  border-radius: 0%;
  display: block;
  max-width: 15%; }
  .cardEdit .card-body:first-letter {
    color: red; }

.main-card {
  float: right;
  width: 70%;
  background: #f0f0f0;
  text-align: center;
  color: black;
  border-radius: 0%;
  box-shadow: 10px 10px 5px black;
  padding: 60px; }

.about p {
  font-size: 14px; }

.pre-tech-card {
  background: #f0f0f0;
  text-align: center;
  color: black;
  border-radius: 0%;
  box-shadow: 10px 10px 5px black;
  padding: 10px;
  margin-bottom: 25px; }
