$base-color: black;
$secondary-base-color: white;

 .GOS{
    width: 100%;
    margin-bottom: 3%;
    border: double 5px $secondary-base-color ;
    text-align: center;
}

.cardEdit {
    background: #f0f0f0;
    text-align: center;
    color: $base-color;
    width: 50%;
    box-shadow: 10px 10px 5px $base-color;
    margin-bottom: 5%;
    border-radius: 0%;
    display: block;
    .card-body:first-letter {
        color: red;
    }
}

.main-card{
    text-align: center;
    border-radius: 0%;
    //box-shadow: 10px 10px 5px black;
    padding: 1%;
    border: double 5px $secondary-base-color ;
    hr{
       border-color: $secondary-base-color;
       width: 50%;
    }
    p{
        text-align: left; 
     }
}

//when the screen was getting small with  bootstrap the cards were staying inline block but with of 50% so it was just
// 4 seperate rows with cards only taking up half the screen, used the media query to get 2 in each row. 2 rows of 2.
@media only screen and (max-width: 600px) {
    .cardEdit {
    width: 50%;
    display: inline-block;
    border-right: blue thin solid;
    }
  }