$base-color: black;
$secondary-base-color: white;

.Nav-Bar{
    color:$base-color;
    background-color: #d3d3d3;
    display: inline;
      li  {
        color: $base-color;
        display: inline;
        margin-right: 30px;
    }.Nav{
        height: 30px;
        margin-bottom: 20px;
    }
}


.clocky{
    position: absolute;  
    right: 0px;
 }

 //fix to have the form in the navbar be responsive, it was not built with bootstrap 
 //so when on mobile the form was outside of the nav bar
 @media only screen and (max-width: 600px) {
    .form-bar{
        width: 50%;
        font-size: 70%;
    }
    #button{
     width: 30%;
    }
    .Nav-Bar li{
        margin-right: 20px;
    }
  }