html {
	margin: 0px;
	height: 100%;
	width: 100%;
	min-width: 1000px;
	min-height: 100px;
	//border: 30px solid darkgray;
	//border-style: inset;
}

body {
	color: lightgray;
	background-color:  blue;
	border: solid black 50px;
	margin: 0px;
	min-height: 100%;
	width: 100%;
	//font-family: lucida console;
	.container {
		text-overflow: auto;
	}
}



/////////////////////////////////////////////////////////////////////////////////////////////////////////////////

a {
	text-decoration: none;
	color: black;
}

a:hover {
	text-decoration: none;
	color: black;
}
 
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.Nav-Bar{
    text-decoration: none;
    color:black;
    background-color: #d3d3d3;
    display: inline;
    ul {
        border: 1px solid #e7e7e7;
        background-color: #f3f3f3;
    }
      li  {
        color: black;
        display: inline;
        margin-right: 30px;
    }.Nav{
        height: 30px;
        margin-bottom: 20px;
    }

}
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.booting{
    background-color: black;
    border-color: black;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 25px;
    border: 15px solid black;
    font-family: lucida console, Monaco5;
    font-size: small;
}
.boot-up-info {
	margin-top: 30px;
	p {
        margin-bottom: -4px;
    }
}

.home-head p{
    margin-bottom: -5px;
}

#home-img{
    float: right;
    margin-top: -7%;
}

/////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.GOS{
    float: right;
    width: 70%;
    margin-bottom: 3%;
    color:white;
    border: double 5px white ;
    text-align: center;
}

.cardEdit {
    background: #f0f0f0;
    width: 15%;
    text-align: center;
    color: black;
    box-shadow: 10px 10px 5px black;
    margin-bottom: 2%;
    border-radius: 0%;
    display: block;
    max-width: 15%;
    .card-body:first-letter {
        color: red;
    }
}

.main-card{
    text-align: center;
    float: right;
    width: 70%;
    background:  blue;  // #f0f0f0;
    color: white;
    border-radius: 0%;
    //box-shadow: 10px 10px 5px black;
    padding: 60px;
    border: double 5px white ;
    hr{
       border-color: white;
       width: 50%;
    }
    p{
        text-align: left;
     }
}


/////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.pre-tech-card{
    background: #f0f0f0;
    text-align: center;
    color: black;
    border-radius: 0%;
    box-shadow: 10px 10px 5px black;
    padding: 10px;
    margin-bottom: 25px;
    width: 500px;

}

.pre-tech-box{
    border: double 5px white ;
    padding: 10px;
    color: white;
}
////////////////////////////////////////
 .Error-Full{
    background-color: black;
    border-color: black;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 25px;
    border: 15px solid black;
    .Error-screen{
        position: fixed;
        top: 50%;
        left: 50%;
        margin-top: -50px;
        margin-left: -100px;
        background-color: red;
        border: double yellow;
        padding:2%;
 
     }
 }