html {
    margin: 0px;
    height: 100%;
    width: 100%;
    border: 30px solid darkgray;
    border-style: inset;

}

body{
color: white;
background-color: blue;
font-family: Lucida Console;
border: solid black 50px;
margin: 0px;
min-height: 100%;
width: 100%;


}   

.Nav-Bar{
    text-decoration: none;
    color:black;
    background-color: #d3d3d3;
    display: inline;
    
    a{
        text-decoration: none;
        color: black;
    }
}



.boot-up-info {
    margin-top: 30px;
    p{
        margin-bottom: -4px;
    }
}

.home-head p{
    margin-bottom: -5px;
}

.card-columns{
    margin: 0px;
    margin-top: 40px;
    height: 100%;
    width: 100%;
    background-color: blue;
    div{
        box-shadow: 10px 10px 5px black;
        margin-top: 30px;
        color: black;
        font-size: 20px;
        text-align: center;
    }
}

.Nav-Bar{
    
    ul {
        border: 1px solid #e7e7e7;
        background-color: #f3f3f3;
    }
      li  {
        color: black;
        display: inline;
        margin-right: 30px;
    }
}

.about-buttons button{
    margin-right: 30px;
    margin-bottom: 20px;
}

